@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body,
button,
textarea {
	color: #030303;
	font-family: 'Staatliches', cursive;
	font-size: 10px;
	line-height: 3.0;
}

h1 {
  font-family: 'Staatliches', cursive;;
  letter-spacing: 5px;
}

.Where are orders coming from {
	text-align: center;
	margin-top: 4rem;
}

.display colonies {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}

.choices {
	border: 5px solid rgb(21, 0, 139);
	margin-top: 4rem;
	text-align: center;
	
}